
body {
    font-family: Arial, sans-serif;
    background-color: #ff00aa;
    color: #333333;
    
}



header {
    background-color: #2c2e2f;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fa9add;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(6, 6, 6, 0.895);
}

.profile {
    text-align: center;
    
}

.profile img {
    max-width: 180px;
    border-radius:50%;
    border: 5px solid #333333;
    margin: 10px;
    
}

.section {
    margin-top: 20px;
    padding: 20px;
    background-color: #fffffffc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(11, 11, 11, 0.907);
}

.reference-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.reference-table th, .reference-table td {
    padding: 10px;
    border: 1px solid #050505;
    background-color: #f7f9fae8;
}

.reference-table th {
    background-color: #333;
    color: #9b8b8b;
}
